{% extends 'layouts/base.html' %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  .today_name{
    display:none 
  }
  .today_count{
    display:none 
  }
  .week_name{
    display:none 
  }
  .week_count{
    display:none 
  }
  .price{
    display:none 
  }
  .numbers{
    display:none 
  }
  .month{
    display:none
  }
  .chart-wrap{
    width: 350px;
    height: 400px;
  }
  .chart-area{
    width: 1000px;
    height: 400px;
  }

</style>
{% endblock stylesheets %}

{% block content %}

<div class="container-fluid" id="container-wrapper">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">매출 현황</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item">정산 관리</li>
      <li class="breadcrumb-item active" aria-current="page">매출 현황</li>
    </ol>
  </div>

  <div class="row mb-3">
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card h-200">
        <div class="card-body justify-content-center">
          <div class="row align-items-center">
            <div class="col mr-2">
              <div class="row mx-1 mb-3">
                <div class="h5 mb-0 font-weight-bold text-gray-800 mr-2">하루</div>
                <small class="mr-3 pt-1 font-weight-bold text-gray">상위 품목 5개</small>
              </div>              <div class="chart-wrap">
                <canvas id="myChart"></canvas>
                {% for name in today_name %}
                <ul class="today_name">
                  <li>{{ name }}</li>
                </ul>
                {% endfor %}
                {% for count in today_count %}
                <ul class="today_count">
                  <li>{{ count }}</li>
                </ul>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body justify-content-center">
          <div class="row align-items-center">
            <div class="col mr-2">
              <div class="row mx-1 mb-3">
                <div class="h5 mb-0 font-weight-bold text-gray-800 mr-2">일주일</div>
                <small class="mr-3 pt-1 font-weight-bold text-gray">상위 품목 5개</small>
              </div>
              <div class="chart-wrap">
                <canvas id="myChart2"></canvas>
                {% for name in week_name %}
                <ul class="week_name">
                  <li>{{ name }}</li>
                </ul>
                {% endfor %}
                {% for count in week_count %}
                <ul class="week_count">
                  <li>{{ count }}</li>
                </ul>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card h-200 py-2">
        <div class="card-header">
          <div class="row mx-2 mb-3">
            <span class="fas fa-chart-pie text-primary mr-2 pt-1"></span>
            <div class="h5 mb-0 font-weight-bold text-gray-800 mr-2">오늘 매출 현황</div>
            <small class="mr-3 pt-1 font-weight-bold text-primary">주문/취소 금액</small>
          </div>
        </div>
        <div class="card-body px-3 py-0">
          <div class="col">
            <div class="chart-wrap">
              <canvas id="myChart3"></canvas>
                {% for p in price %}
                <ul class="price">
                  <li>{{ p }}</li>
                </ul>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-12 col-md-12 mb-3">
      <div class="card h-100 py-2">
        <div class="card-header">
          <div class="row mx-2">
            <span class="fas fa-chart-line text-primary mr-2 pt-1"></span>
            <div class="h5 mb-0 font-weight-bold text-gray-800">1년 매출 현황</div>
          </div>
        </div>
        <div class="card-body px-3 pt-0 pb-4">
          <div class="col">
            <div class="chart-area">
              <canvas id="mixedChart" width="400" height="166"></canvas>
                {% for m in month %}
                <ul class="month">
                  <li>{{ m }}</li>
                </ul>
                {% endfor %}
                {% for n in numbers %}
                <ul class="numbers">
                  <li>{{ n }}</li>
                </ul>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>


<script src="chartjs-plugin-doughnutlabel.js"></script>
<script src="{% static 'jsmeta/seller/script_analysis.js' %}"></script>

{% endblock javascripts %}