{% extends 'layouts/base.html' %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </div>

    {% if staff %}
    <div class="row">
      <div class="col-xl-12 col-md-12 mb-3">
        <div class="card h-100 py-2">
          <div class="card-header pb-0">
            <div class="row mx-2">
              <span class="fas fa-file text-primary mr-2 pt-1"></span>
              <div class="h6 mr-3 pt-1 font-weight-bold text-primary">상품준비완료 현황</div>
              <a href="{% url 'index' %}" >
                <span class="fas fa-sync-alt text-secondary pt-1" data-fa-transform="shrink-3 down-2" style="cursor:pointer;"></span>
              </a>
            </div>
          </div>
          <div class="card-body px-3 py-0">
            <div class="row align-items-center">
              <div class="col-xl-3 col-md-6 border-right">
                <div class="card h-100 pt-3" style="box-shadow: none !important;">
                  <div class="card-body py-0 px-3 mb-4">
                    <div class="row no-gutters align-items-center">
                      <div class="col mx-1">
                        <div class="h5 mb-2 text-gray-800">택배배송</div>
                        <a href="{% url 'management:delivery' %}" >
                          <span class="h4 mx-1 font-weight-bold text-primary">{{ Delivery }}</span>
                          <span>건</span>
                        </a>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-truck fa-2x text-secondary"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 border-right">
                <div class="card h-100 pt-3 py-0" style="box-shadow: none !important;">
                  <div class="card-body py-0 px-3 mb-4">
                    <div class="row no-gutters align-items-center">
                      <div class="col mx-1">
                        <div class="h5 mb-2 text-gray-800">근거리배송</div>
                        <a href="{% url 'management:shortdelivery' %}" >
                          <span class="h4 mx-1 font-weight-bold text-primary">{{ Shortdelivery }}</span>
                          <span>건</span>
                        </a>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-motorcycle fa-2x text-warning"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 border-right">
                <div class="card h-100 pt-3 py-0" style="box-shadow: none !important;">
                  <div class="card-body py-0 px-3 mb-4">
                    <div class="row no-gutters align-items-center">
                      <div class="col mx-1">
                        <div class="h5 mb-2 text-gray-800">포장</div>
                        <a href="{% url 'management:pickup' %}" >
                          <span class="h4 mx-1 font-weight-bold text-primary">{{ Pickup }}</span>
                          <span>건</span>
                        </a>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-person-walking fa-2x text-info"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="card h-100 pt-3 py-0" style="box-shadow: none !important;">
                  <div class="card-body py-0 px-3 mb-4">
                    <div class="row no-gutters align-items-center">
                      <div class="col mx-1">
                        <div class="h5 mb-2 text-gray-800">드라이브스루</div>
                        <a href="{% url 'management:drivethru' %}" >
                          <span class="h4 mx-1 font-weight-bold text-primary">{{ Drivethru }}</span>
                          <span>건</span>
                        </a>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-car-side fa-2x text-success"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-12 mb-3">
        <div class="card h-100 py-2">
          <div class="card-header">
            <div class="row mx-2">
              <span class="fas fa-phone text-primary mr-2 pt-1"></span>
              <a href="{% url 'seller:qna' %}">
                <div class="h6 mr-3 pt-1 font-weight-bold text-primary">미답변 문의</div>
              </a>
              <a href="{% url 'index' %}">
                <span class="fas fa-sync-alt text-secondary pt-1" data-fa-transform="shrink-3 down-2" style="cursor:pointer;"></span>
              </a>
            </div>
          </div>
          <div class="card-body px-3 pt-0">
            <div class="col mb-2 text-secondary">
              <a href="#" style="text-decoration: none;">
                <div class="row px-3 justify-content-between">
                  <div>상품 문의</div>
                  <div>
                    <span class="h4 mx-1 font-weight-bold text-primary">{{ Paid }}</span>
                    <span>건</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    {% else %}
    <div class="row">
      <div class="col-xl-12 col-md-12 mb-3">
        <div class="card h-100 py-2">
          <div class="card-header pb-0">
            <div class="row mx-2">
              <span class="fas fa-file text-primary mr-2 pt-1"></span>
              <div class="h6 mr-3 pt-1 font-weight-bold text-primary">판매 현황</div>
              <a href="{% url 'index' %}" >
                <span class="fas fa-sync-alt text-secondary pt-1" data-fa-transform="shrink-3 down-2" style="cursor:pointer;"></span>
              </a>
            </div>
          </div>
          <div class="card-body px-3 py-0">
            <div class="row align-items-center">
              <div class="col-xl-3 col-md-6 border-right">
                <div class="card h-100 pt-3" style="box-shadow: none !important;">
                  <div class="card-body py-0 px-3 mb-4">
                    <div class="row no-gutters align-items-center">
                      <div class="col mx-1">
                        <div class="h5 mb-2 text-gray-800">결제 완료</div>
                        <div>
                          <span class="h4 mx-1 font-weight-bold text-primary">{{ Paid }}</span>
                          <span>건</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-coins fa-2x text-secondary"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 border-right">
                <div class="card h-100 pt-3 py-0" style="box-shadow: none !important;">
                  <div class="card-body py-0 px-3 mb-4">
                    <div class="row no-gutters align-items-center">
                      <div class="col mx-1">
                        <div class="h5 mb-2 text-gray-800">배송 준비 중</div>
                        <div>
                          <span class="h4 mx-1 font-weight-bold text-primary">{{ Processing }}</span>
                          <span>건</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-clock fa-2x text-warning"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 border-right">
                <div class="card h-100 pt-3 py-0" style="box-shadow: none !important;">
                  <div class="card-body py-0 px-3 mb-4">
                    <div class="row no-gutters align-items-center">
                      <div class="col mx-1">
                        <div class="h5 mb-2 text-gray-800">배송 중</div>
                        <div>
                          <span class="h4 mx-1 font-weight-bold text-primary">{{ Shipping }}</span>
                          <span>건</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-shipping-fast fa-2x text-info"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="card h-100 pt-3 py-0" style="box-shadow: none !important;">
                  <div class="card-body py-0 px-3 mb-4">
                    <div class="row no-gutters align-items-center">
                      <div class="col mx-1">
                        <div class="h5 mb-2 text-gray-800">배송 완료</div>
                        <div>
                          <span class="h4 mx-1 font-weight-bold text-primary">{{ Delivered }}</span>
                          <span>건</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-check fa-2x text-success"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-12 mb-3">
        <div class="card h-100 py-2">
          <div class="card-header">
            <div class="row mx-2">
              <span class="fas fa-phone text-primary mr-2 pt-1"></span>
              <a href="{% url 'seller:qna' %}">
                <div class="h6 mr-3 pt-1 font-weight-bold text-primary">미답변 문의</div>
              </a>
              <a href="{% url 'index' %}">
                <span class="fas fa-sync-alt text-secondary pt-1" data-fa-transform="shrink-3 down-2" style="cursor:pointer;"></span>
              </a>
            </div>
          </div>
          <div class="card-body px-3 pt-0">
            <div class="col mb-2 text-secondary">
              <a href="#" style="text-decoration: none;">
                <div class="row px-3 justify-content-between">
                  <div>상품 문의</div>
                  <div>
                    <span class="h4 mx-1 font-weight-bold text-primary">{{ Paid }}</span>
                    <span>건</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-12 mb-3">
        <div class="card h-100 py-2">
          <div class="card-header">
            <div class="row mx-2">
              <span class="fas fa-ban text-primary mr-2 pt-1"></span>
              <a href="{% url 'seller:cancel' %}">
                <div class="h6 mr-3 pt-1 font-weight-bold text-primary">취소/반품</div>
              </a>
              <a href="{% url 'index' %}">
                <span class="fas fa-sync-alt text-secondary pt-1" data-fa-transform="shrink-3 down-2" style="cursor:pointer;"></span>
              </a>
            </div>
          </div>
          <div class="card-body px-3 py-0">
            <div class="col">
              <div class="row px-3 mb-2 justify-content-between">
                <div>취소 요청</div>
                <div>
                  <span class="h4 mx-1 font-weight-bold text-primary">{{ Paid }}</span>
                  <span>건</span>
                </div>
              </div>
              <div class="row px-3 mb-2 justify-content-between">
                <div>취소 반품 요청</div>
                <div>
                  <span class="h4 mx-1 font-weight-bold text-primary">{{ Paid }}</span>
                  <span>건</span>
                </div>
              </div>
              <div class="row px-3 mb-2 justify-content-between">
                <div>반품 요청</div>
                <div>
                  <span class="h4 mx-1 font-weight-bold text-primary">{{ Paid }}</span>
                  <span>건</span>
                </div>
              </div>
              <div class="row px-3 mb-2 justify-content-between">
                <div>반품 반품 요청</div>
                <div>
                  <span class="h4 mx-1 font-weight-bold text-primary">{{ Paid }}</span>
                  <span>건</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-12 mb-3">
        <div class="card h-100 py-2">
          <div class="card-header">
            <div class="row mx-2">
              <span class="fas fa-list text-primary mr-2 pt-1"></span>
              <a href="{% url 'seller:product-list' %}">
                <div class="h6 mr-3 pt-1 font-weight-bold text-primary">상품</div>
              </a>
              <a href="{% url 'index' %}">
                <span class="fas fa-sync-alt text-secondary pt-1" data-fa-transform="shrink-3 down-2" style="cursor:pointer;"></span>
              </a>
            </div>
          </div>
          <div class="card-body px-3 pt-0">
            <div class="col mb-2">
              <div class="row px-3 mb-2 justify-content-between">
                <div>판매 중</div>
                <div>
                  <span class="h4 mx-1 font-weight-bold text-primary">{{ OnSale }}</span>
                  <span>건</span>
                </div>
              </div>
              <div class="row px-3 mb-2 justify-content-between">
                <div>승인 요청</div>
                <div>
                  <span class="h4 mx-1 font-weight-bold text-primary">{{ Requested }}</span>
                  <span>건</span>
                </div>
              </div>
              <div class="row px-3 mb-2 justify-content-between">
                <div>승인 반려</div>
                <div>
                  <span class="h4 mx-1 font-weight-bold text-primary">{{ Rejected }}</span>
                  <span>건</span>
                </div>
              </div>
              <div class="row px-3 mb-2 justify-content-between">
                <div>판매 중지</div>
                <div>
                  <span class="h4 mx-1 font-weight-bold text-primary">{{ Stopped }}</span>
                  <span>건</span>
                </div>
              </div>
            </div>         
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-md-12 mb-3">
        <div class="card h-100 py-2">
          <div class="card-header">
            <div class="row mx-2">
              <span class="fas fa-star text-primary mr-2 pt-1"></span>
              <div class="h6 mr-3 pt-1 font-weight-bold text-primary">점포 현황</div>
              <a href="./">
                <span class="fas fa-sync-alt text-secondary pt-1" data-fa-transform="shrink-3 down-2" style="cursor:pointer;"></span>
              </a>
            </div>
          </div>
          <div class="card-body px-3 pt-0">

          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-12 mb-3">
        <div class="card h-100 py-2">
          <div class="card-header">
            <div class="row mx-2">
              <span class="fas fa-chart-line text-primary mr-2 pt-1"></span>
              <a href="{% url 'seller:recommend' %}">
                <div class="h6 mr-3 pt-1 font-weight-bold text-primary">매출 현황</div>
              </a>
              <a href="./">
                <span class="fas fa-sync-alt text-secondary pt-1" data-fa-transform="shrink-3 down-2" style="cursor:pointer;"></span>
              </a>
            </div>
          </div>
          <div class="card-body px-3 py-0">

          </div>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}